/* 
Project Name: Tresor Template
Client: www.tresordesign.com
Author: Bettina Szabo-Shaw
*/


/******************************************
/* CUSTOM STYLES                   
/*******************************************/

.clear {
	clear: both;
}

body {
    padding-top: 70px;
     color: #111;
     font-size: 12px;
     line-height: 1.4;
     font-family: "AvenirLTStd-Light", sans-serif;
     background-color: #fff;
}

.navbar {
  opacity: .9;
  z-index: 9997;
}

@font-face {
    font-family: 'Akkurat';
    src: url('fonts/akkurat-light.eot');
    src: url('fonts/akkurat-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/akkurat-light.woff') format('woff'),
         url('fonts/akkurat-light.ttf') format('truetype'),
         url('fonts/akkurat-light.svg#avenir') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-LightOblique.eot');
    src: url('fonts/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-LightOblique.woff') format('woff'),
         url('fonts/AvenirLTStd-LightOblique.ttf') format('truetype'),
         url('fonts/AvenirLTStd-LightOblique.svg#avenir') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd-Light.eot');
    src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-Light.woff') format('woff'),
         url('fonts/AvenirLTStd-Light.ttf') format('truetype'),
         url('fonts/AvenirLTStd-Light.svg#avenier') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*.logo {
  width: 50px;
  height: auto;
}*/

.logo:hover {
  opacity: 0.5;
}

.navbar .btn-navbar {
    background-color: transparent;
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
}

.navbar-fixed-top {
      height: 52px;
}

.nav-icon {
      padding-right: 0px;
      border-right: 1px solid #ddd;
}

ul.navbar-right {
	   font-family: 'AvenirLTStd-Light', sans-serif;
	   text-transform: uppercase;
	   font-weight: 400;
}

ul.navbar-right li {
      border-left: 1px solid #ddd;
}

ul.navbar-right li:last-child(4) {
      border-right: 1px solid #ddd;
}

.navbar-brand {
      height: 52px;
      width: 89px;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      display: inline-block;
}

/*Drop down nav background WHITE on mobile! */
@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #e9e9e9;
  }
}

/* PFROFILE Area for: 1200px or larger - FIXED HEIGHT*/
.profile-feature { 
  background: #e9e9e9;
  padding: 30px;
  height: 460px;
}

/*PROFILE - larger than 992 px & smaller than 1199px*/
@media (min-width: 992px) and (max-width: 1199px) { 
  .profile-feature {
    height: 279px;
    padding: 30px;
  }
}

@media (max-width: 991px) { 
  .profile-feature {
    height: auto;
    padding: 30px;
    margin-bottom: 30px;
  }
}

/*See also in Buttons section below */
.button-profile {
    margin-top: 30px;
}

/*Button Underneath Profile Area under 768px */
@media (max-width: 767px) {
  .button.button-profile { 
    background-color: white;
    color: #111;
    margin-left: -30px;
    margin-right: -30px;
    font-family: "AvenirLTStd-Light", sans-serif;
    font-size: 12px;
    margin-bottom: -30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #111;
  }
}

/********************************/
/*Responsive Slide - Top Right */
/******************************/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.row-divider {
    margin-top: 0;
}

/*a:hover img {
    opacity: 0.9;
}*/

.rslides img:hover {
  opacity: 0.9;
/*  display: block;
  padding-top: 3px;
  border-top: 3px solid #111;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);*/
}

/* colours for TESTING columns - TEMP! */

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

/************************************/
/* Animation / Transitions + jQuery*/
/**********************************/

.csstransitions .animated {
  visibility: hidden;
}

.csstransitions .animated.visible {
  visibility: visible;
}

.no-js .animated {
  visibility: visible;
}

.csstransitions span.animated {
   display: inline-block;
}

/********************************/
/* Buttons */
/******************************/

.button,
.button,
button,
input[type="button"] {
    -webkit-appearance: none;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1;
    color: #111;
    font-style: normal;
    background-color: #111;
    color: #fff;
    padding: 7px 10px 7px 11px;
    cursor: pointer;
    margin: 0 30px 10px 0;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.button [class*="icon-"]:before {
    position: relative;
    top: 1px;
    margin-left: 3px;
}

.button {
    background-color: #111;
   
}

.button:hover {
  /*  border: 3px solid #111;*/
    color: #bbb;
}

.button:hover,
button:hover,
input[type="button"]:hover {
    color: #bbb;
}

/*Button for one column layout under 768px */

@media (max-width: 768px) {


  /*.button { 
    font-size: 12px;
    padding: 12px;
    text-transform: uppercase;*/
  }
}

/*MAIN Headings on HOME PAGE*/

h2 {
  font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: normal;
  font-weight: normal;
}

.feature-heading {
  padding-top: 80px;
  font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 22px;
 /* font-weight: 300;*/
  line-height: 28px;
}
/* TRESOR SHOP Heading on HOME PAGE */
.featurette-heading {
  padding-top: 150px;
  font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 22px;
  /*font-weight: 300;*/
  line-height: 28px;
}

.lead { 
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  color: #111;
  /*font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;*/
}

/*Bootstrap 3 - Carousel Layout on BOOTPLY */

/* Featurettes
------------------------- */

.feature-img-left {
  margin-left: -34px;
}

.feature-img-right {
  margin-left: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) { 
  .feature-img-left {
  margin-left: -27px;
  }
  .feature-img-right {
  margin-left: 16px;
  }
}

/*Correct left & right margins on tablets 
Center vertically text next to image larger than 768px - smaller than 992px*/
@media (max-width: 992px) and (min-width: 768px) {
  .feature-img-left {
    margin-left: -21px;
  }

  .feature-img-right {
    margin-left: 12px;
  }

   h2.feature-heading {
        padding-top: 0;
        margin-top: 0;
    }

    .featurette-heading {
        padding-top: 55px;
        margin-top: 0;
    }
}

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
  border-top: 2px solid #111;
}

/*under top Feature Slider / Profile */
.row-featurette-divider {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 0; 
  margin-right: 0;
  border-top: 2px solid #111;
}

/*POSSIBLY DELETE down to Flexslider - NOT USED AT THE MOMENT*/
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/*Under 768 - col-xs-12 - for iPad MINI - HOME PAGE content centered*/
@media (max-width: 767px) {
   .feature-img-left {
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
   margin-top: -20px;
  }

    .feature-img-right {
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    margin-top: 35px;
  }

  .feature-heading {
    font-family: "AvenirLTStd-Light", sans-serif;
    font-size: 25px;
    /*font-weight: 300;*/
    line-height: 28px;
    text-align: center;
    padding-top: 30px;
  }

  .lead {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: ;
  }

  .text-muted { 
    /*same as border colour in NAV */
    color: #ddd;
  }

/*  Tresor Shop Text centred horizontally */
  h2.featurette-heading {
    padding-top: 0px;
    text-align: center;
  }

  .button { 
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    display: block;
    text-align: center;
  }

  /*Equalize vertical margins - use row-featurette-divider class from above*/

  .feature-heading-2 {
    font-family: "AvenirLTStd-Light", sans-serif;
    font-size: 22px;
    /*font-weight: 300;*/
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
   /* letter-spacing: -1px;*/
    padding-top: 0;
  }

  .row-no2 {
    margin-top: 0;
  }

  .flex-container { 
    margin-top: 10px;}
}
/*************************/


/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  padding: 0 0 80px 0; 
  margin: 0; 
  position: relative;
}
.flexslider .slides > li {
  position: relative; 
  display: none; 
  -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
  width: 100%; 
  display: block;}
.flex-pauseplay span {
  text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020"; 
  display: block; 
  clear: both; 
  visibility: hidden; 
  line-height: 0; 
  height: 0;}

html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

.flex-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-container .slides {
    position: relative;
    z-index: 99;
}

.flex-container li iframe {
    width: 100%;
    height: 100%;
}

.flex-container .slides li .flex-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}

.flex-direction-nav {
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 999;
    width: 100%;
}

.flex-direction-nav li a {
    position: absolute;
    left: 25px;
    opacity: 0;
    visibility: hidden;

    display: block;
    cursor: pointer;

    border: none;
    text-decoration: none;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.flex-container:hover .flex-direction-nav li a {
    opacity: 0.6;
    visibility: visible;
}

.flex-direction-nav li a:hover {
    background: none;
    opacity: 1 !important;
}

.flex-direction-nav li a:before {
    font-family: 'custom-icons';
    content: "\e804";

    speak: none;
    color: #111;
    font-size: 36px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.flex-direction-nav li .flex-next {
    left: auto;
    right: 25px;
}

.flex-direction-nav li .flex-next:before {
    content: "\e805";
    /*content: "\e2cf";*/
}

.flex-control-nav {
    position: absolute;
    bottom: 35px;
    left: 0;

    width: 100%;
    text-align: center;

    list-style: none;
    padding: 0;
    margin: 0;
}

.flex-control-nav li {
    display: inline-block;
    text-indent: -9999px;
}

.flex-control-nav li a {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #bbb;
    cursor: pointer;
    border: none;
    margin: 0 5px;
}

.flex-control-nav li .flex-active,
.flex-control-nav li a:hover {
    background: #111;
}

/********************************/
/* Footer */
/******************************/

footer {
  margin-top: 30px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #bbb;
  /*border-top: 2px solid #111;*/
  color: #111;  
  position: relative;  
  height: 100%;
  bottom: 0;
}

#footerWrapper {
  font-size: 12px;
  color: #111;
}

.contact-info { 
  margin: 0;
  padding-top: 30px;
  padding-bottom: 45px; 
  border-right: 1px solid #bbb;
  /*border-right: 2px solid #111;*/
}

ul {
  -webkit-padding-start: 0px;
}

.email-footer { 
color: #111;
}

.contact-info li {
  float: left;
  list-style: none;
}

.iconSmall:before {
  font-size: 11px;
}

.iconSmall {
  padding-right: 4px;
}

/************************************/
/* Social Media + custom-icons.css */
/**********************************/

ul.socialNetwork {
  padding: 0; 
  display: block;
  float: left;
}

ul.socialNetwork li {
  display: inline-block; 
  list-style-type: none;
  padding: 15px;
}

/*Smaller Padding between social media icons for tablet landscape down*/
@media (max-width: 991px) { 
  ul.socialNetwork li {
    padding: 6px;
  }
}

/*One column footer for below 768px */
@media (max-width: 767px) { 
  .contact-info { 
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px; 
  border-right: none;
  }
}

ul.socialNetwork li:first-child {
  padding-left: 0;
}

@media(min-width: 992px){
.socialNetwork {float: right;}
}

.socialNetwork  a {
  width: 40px;
}

.socialNetwork a:hover{
  text-decoration: none;
}

.iconRounded {
  border-radius:50%;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  font-size: 18px; 
  border: 1px solid #111;
  margin-top: 22px;
  background-color: #FFF;
  color: #111;
}

.iconRounded:hover {
  background-color: #111;
  color: #fff;
  text-shadow: none; 
  border-style: solid;
}

.iconRounded:before {
  margin: auto;
  text-align: center; 
  line-height: 40px; 
}

/*  Tooltips  */

.tips { 
  display: inline-block; 

/*  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
  padding: 5px 0;
  margin-top: -3px;*/
}


/********************************/
/* Footer Bottom */
/******************************/

#footer-bottom {
    width: 100%;
    background-color: #111;
    color: #fff;
    font-size: 0.9em;
    padding: 12px 0;
    line-height: 0.9em;
    font-family: "AvenirLTStd-Light", sans-serif;
    letter-spacing: normal;
}

#footer-bottom li {
  float: left;
  list-style: none;
  margin: 0;
}
      
#footer-bottom li:first-child { 
  margin-right: 15px; }
      
#footer-bottom li a {
  display: block;
  padding: 0 15px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bbb;
  color: #bbb;
}

#footer-bottom li:first-child a {
  border-left: none;
  padding-left: 0;
  color: #fff;
}

#footer-bottom li:last-child a { 
  padding-right: 0; 
}

#footer-bottom a { 
  color: #bbb; 
}

#footer-bottom a:hover { 
  color: #fff; }

/********************************/
/*     WORK      */
/******************************/

.row-work-index {
  margin-left: 0px;
  margin-top: -30px;
}

/**** Isotope Filtering - DELETE OR KEEP? ****/
.portfolio-container .col-sm-3 {
    margin-right: -1px;
}

.portfolio-container.grid {
    margin-bottom: 30px;
}

.grid .portfolio-item {
    float: left;
    margin: 0;
    /*max-width: 24.9%;*/
    max-width: 33.3%;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {
.portfolio-item {
        width: 100%;
        float:left;
        margin: 0;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    address .address-item {
        padding-left: 22%;
    }

    .portfolio-item .item-description {
        padding: 25% 20px;
    }

    .col-sm-3 .portfolio-item .inner-content {
        top: 20%;
    }
  }

/* Re-used transitions */
body,
.head-top,
.nav-trigger,
.head-top .background-blur,
.page-top .toggle-side,
.page-top .toggle-side:before,
.side-meta,
.portfolio-item .item-description,
.portfolio-item .item-description:after,
.main-nav,
.main-nav ul li ul {
    -webkit-transition: all 0.2s cubic-bezier(0.712, 0.0376, 0.392, 1);
    -moz-transition: all 0.2s cubic-bezier(0.712, 0.0376, 0.392, 1);
    -o-transition: all 0.2s cubic-bezier(0.712, 0.0376, 0.392, 1);
    -ms-transition: all 0.2s cubic-bezier(0.712, 0.0376, 0.392, 1);
    transition: all 0.2s cubic-bezier(0.712, 0.0376, 0.392, 1);
}

/* Portfolio */
.portfolio-item {
    position: relative;
    display: block;
    /*border: none;*/
    border: 1px solid #fff;
    color: white;
    margin-bottom: 30px;
}

.portfolio-item:hover {
    color: white;
}

.portfolio-item .item-image {
    width: 100%;
}

.portfolio-item .item-description {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

   /* background: #111;*/
    /*background: rgba(0, 0, 0, 0.75);*/
    background: rgba(255, 255, 255, 0.75);

    text-align: center;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.portfolio-item:hover .item-description {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

/* Tap as hover on touch devices DO NOT work with visibility, use display property instead */
.touch .portfolio-item .item-description {
    display: none;
}

.touch .portfolio-item:hover .item-description {
    display: block;
}

.portfolio-item .item-description:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: 0 solid rgba(255, 255, 255, 0.75); - WHITE*/
    border: 0 solid rgba(0, 0, 0, 0.75);
}

.portfolio-item:hover .item-description:after {
    border-width: 3px;
}

.portfolio-item .inner-content {
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    padding: 0 30px;
}

.portfolio-item .inner-content span {
    display: block;
}

.portfolio-item .item-description .item-title {
    font-family: 'AvenirLTStd-Light', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3px;
    color: #111;
}

.portfolio-item .item-description .item-tags {
    font-family: "AvenirLTStd-LightOblique", sans-serif;
    font-size: 1em;
    color: #111;
    margin-top: 3px;
}

.portfolio-container.grid {
    margin-bottom: 50px;
}

.grid .portfolio-item {
  float: left;
  margin: 0;
  /*max-width: 24.9%;*/
  max-width: 33.3%;
}

/*Selected Projects title on Work Index Page*/

.project-heading {
  font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  color: #111;
  margin-top: -30px;
  margin-bottom: 20px;
}


/*RE-arrange columns for mobile and tablet */
@media only screen and (max-width: 768px) {
    .grid .portfolio-item {
    float: left;
    margin: 0;
    /* SET COLUMN WIDTH HERE*/
    max-width: 50%;
    }

    .project-heading {
    font-family: "AvenirLTStd-Light", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2em;
    color: #111;
    margin-top: -30px;
    margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .grid .portfolio-item {
    float: left;
    margin: 0;
   /* SET COLUMN WIDTH HERE*/
    max-width: 100%;
    }

     .project-heading {
    font-family: "AvenirLTStd-Light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2em;
    color: #111;
    margin-top: -30px;
    margin-bottom: 20px;
    }

}

/********************************/
/*     PROJECT PAGE            */
/******************************/

.img-project {
  display: block;
  height: auto;
  max-width: 100%;
  padding-bottom: 7px;
  padding-top: 7px;
}

.project-title {
  font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 22px;
  line-height: 28px;
  margin-top: 20px;
  color: #111;
}

.project-info {
  margin-top: 61px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-style: normal;
  color: #111;
  width: 100%;
}

.role {
  font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 12px;
  line-height: 15px !important;
  padding-bottom: 8px;
  padding-top: 8px;
  border-top: 1px solid #111;
  width: 100%;
  list-style: none;
}

/*li.role:nth-child(5) {
 border-bottom: 1px solid #111;
}*/

li.role:last-of-type {
 border-bottom: 1px solid #111;

}

.project-button {
  margin-top: 30px;
}

/********************************/
/*   Portfolio Navigation      */
/******************************/

.portfolio-nav {
  margin-top: 30px;
  margin-bottom: 20px;
}

/*adjust right margin to line up*/
  .portfolio-nav-right { 
  margin-right: -20px;
}

.portfolio-nav a {
  display: inline-block;
  border: none;
  color: #111;
  font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  padding: 0 20px 0 0;
}

.portfolio-nav .pull-right a {
  border-right: 1px solid #bbb;
}

.portfolio-nav .pull-right a:last-child {
  border-right: none;
  padding-right: 0;
}
/*LEFT arrow-*/
.portfolio-nav a:before {
  font-family: 'custom-icons';
  content: '\e8f4';
  speak: none;
  font-size: 11px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: normal;
  font-style: normal;
  margin: 0 5px -5px 0;
  position: relative;
  top: 0px;
  padding-right: 6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portfolio-nav a:hover {
  color: #bbb;
  background: none;
}

.portfolio-nav .nav-next {
  padding: 0 0 0 20px;
}
/*RIGHT arrow-*/
.portfolio-nav .nav-next:before {
  font-family: 'custom-icons';
  content: "\e8f5";
  float: right;
  padding-left: 6px;
  margin: 0 0 0 6px;
  top: 3px;
}

.portfolio-nav .nav-overview:before {
  font-family: 'custom-icons';
  content: '\e80c';
  top: 0px;
  margin: 0 6px 0 -15px;
}

@media only screen and (max-width: 479px) {
    .portfolio-nav span {
        display: none;
    }
}

/********************************/
/*          PROFILE            */
/******************************/

.about { 
  font-family: "AvenirLTStd-Light", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #111;
}

.skills, .tech-skills {
  margin-top: 0px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-style: normal;
  color: #111;
  width: 100%;
}

.creative-skills, .tech {
 font-family: "AvenirLTStd-Light", sans-serif;
  font-size: 12px;
  line-height: 15px !important;
  padding-bottom: 8px;
  padding-top: 8px;
  border-top: 1px solid #111;
  width: 100%;
  list-style: none;
}

li.creative-skills:nth-child(6), 
li.tech:nth-child(6) {
  border-bottom: 1px solid #111;
}

.skills-wrapper { 
  margin-bottom: 15px;
  margin-top: -30px;
}

@media only screen and (max-width: 992px) {
  .profile-mob {
    padding-top: 35px;
  }

  .skills-wrapper { 
  margin-top: 20px;
}
}

/********************************/
/*      CONTACT FORM           */
/******************************/

form {
    margin-bottom: 30px;
    margin-top: 25px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    width: 100%;
    height: 47px;
    font-family: "AvenirLTStd-Light", sans-serif;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    -webkit-appearance: none;
    /*box-shadow: 3px 3px 0 #111;*/
    border-radius: 0;
    /*border: 1px solid #111;*/
    background: #111;
    border: none;
    padding: 0 45px 0 15px;
}

textarea {
    min-height: 161px;
    padding-top: 18px;
}

::-webkit-input-placeholder {
    font-size: 10px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    line-height: 22px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 11px;
    color: #fff;
    font-weight: 300;
    font-style: italic;
}

input:-ms-input-placeholder {
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    font-style: italic;
}

.input-field .placeholder {
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    font-style: italic;
}

.input-field {
    position: relative;
    margin: 0;
    cursor: text;
}

.input-field:before {
    position: absolute;
    right: 13px;
    top: 13px;
    color: #fff;
    font-size: 21px;
}

input.error,
textarea.error {
  /*bright red for error */
    border: 1px solid #ec3a33;
    box-shadow: none;
}

input.valid,
textarea.valid {
    border: 1px solid #111;
}

label.error {
    position: absolute;
    bottom: 2px;
    left: 0;
    /* light red for Error message-*/
    color: #c57c7e;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    box-shadow: none;
    color: white;
    pointer-events: none;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.submit-button {
    border: none;
    margin-right: 0;
    margin-top: 0px;
}









